html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.025rem;
}

p {
  color:  #808080;
  font-family: 'Open Sans', sans-serif;
}

table {
  margin-bottom: 30px;
}

.bolded {
  font-weight: 500;
}

.big {
  font-size: 4rem;
}

.dataTables_info, .pagination {
  margin-bottom: 3%;
}

#chartContainer {
  text-align: center;
  height: 360px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.color-section {
  background-color: #f1f3f5;
}

.title {
  padding: 5% 0 0;
}

.title, .stats-sum {
  text-align: center;
}

#jumbo-btn {
  margin: 2% 2% 0;
}

.source:hover {
  text-decoration: none;
}

/* footer styling */
.footer-icons {
  color: gray;
}

.footer-icons:hover {
  color: #333;
}

.copyright {
  font-size: .9rem;
  margin-bottom: 0;
}

#footer {
  height: 180px;
}

#footer .container-fluid {
  padding: 20px 0 20px;
}

#footer .container-fluid .row {
  padding: 10px 0 0;
}

#contact-btn {
  font-size: 1rem;
  margin-bottom: 10px;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -180px;
  /* Pad bottom by footer height */
  padding: 0 0 180px;
}

/* scroll to top button */
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: gray;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    opacity: 65%;
}
#back2Top:hover {
    background-color: gray;
    color: #333;
}

@media only screen and (max-width: 767px) {
  p {
    padding: 0 5%;
  }

}

@media only screen and (min-width: 1366px) {
  #back2Top {
    right: 40px;
  }

}

@media only screen and (max-width: 370px) {
  .big {
    font-size: 3rem;
  }

}
